<a href="https://colab.research.google.com/github/Nobel712/Visualisation-library/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
liste=[1,2,3,4,5]
liste

[1, 2, 3, 4, 5]

In [ ]:
pd.Series(liste)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
from pandas.core import series
pd.Series([1,2,3,4],index=['a','b','c','d'],name='data values')

a    1
b    2
c    3
d    4
Name: data values, dtype: int64

DataFrame

In [ ]:
r=pd.DataFrame([1,2,3,4,5,6])
r

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [ ]:
dic={'id':[1,2,3,4,5],
     'Name':["nobel","sifat","emon","Awall","muntasir"],
     "Roll":[5,4,3,2,1]}

In [ ]:
dic

{'Name': ['nobel', 'sifat', 'emon', 'Awall', 'muntasir'],
 'Roll': [5, 4, 3, 2, 1],
 'id': [1, 2, 3, 4, 5]}

In [ ]:
pd.DataFrame(dic)

   id      Name  Roll
0   1     nobel     5
1   2     sifat     4
2   3      emon     3
3   4     Awall     2
4   5  muntasir     1

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/car_raceing.csv')

In [ ]:
df.columns

Index(['speed', 'car_age', 'experience', 'risk'], dtype='object')

In [ ]:
pd.read_csv('/content/car_raceing.csv',nrows=2)

   speed  car_age  experience  risk
0    200       15           5    85
1     90       17          13    20

In [ ]:
pd.read_csv('/content/car_raceing.csv',usecols=[0])

   speed
0    200
1     90
2    165
3    110
4    140
5    115

In [ ]:
pd.read_csv('/content/car_raceing.csv',usecols=[0,1])

   speed  car_age
0    200       15
1     90       17
2    165       12
3    110       20
4    140        5
5    115        2

In [ ]:
pd.read_csv('/content/car_raceing.csv',skiprows=1)

   200  15     5  85
0   90  17  13.0  20
1  165  12   4.0  93
2  110  20   NaN  60
3  140   5   3.0  82
4  115   2   8.0  10

In [ ]:
pd.read_csv('/content/car_raceing.csv')

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
pd.read_csv('/content/car_raceing.csv',skiprows=[1,3])

   speed  car_age  experience  risk
0     90       17        13.0    20
1    110       20         NaN    60
2    140        5         3.0    82
3    115        2         8.0    10

In [ ]:
pd.read_csv('/content/car_raceing.csv',index_col='speed')

       car_age  experience  risk
speed
200         15         5.0    85
90          17        13.0    20
165         12         4.0    93
110         20         NaN    60
140          5         3.0    82
115          2         8.0    10

In [ ]:
pd.read_csv('/content/car_raceing.csv')

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
pd.read_csv('/content/car_raceing.csv',header=3)

   165  12    4  93
0  110  20  NaN  60
1  140   5  3.0  82
2  115   2  8.0  10

In [ ]:
pd.read_csv('/content/car_raceing.csv',header=None)

       0        1           2     3
0  speed  car_age  experience  risk
1    200       15           5    85
2     90       17          13    20
3    165       12           4    93
4    110       20         NaN    60
5    140        5           3    82
6    115        2           8    10

In [ ]:
 pd.read_csv('/content/car_raceing.csv',header=None,prefix='Col')

    Col0     Col1        Col2  Col3
0  speed  car_age  experience  risk
1    200       15           5    85
2     90       17          13    20
3    165       12           4    93
4    110       20         NaN    60
5    140        5           3    82
6    115        2           8    10

In [ ]:
pd.read_csv('/content/car_raceing.csv',dtype={'speed':'float64'})

   speed  car_age  experience  risk
0  200.0       15         5.0    85
1   90.0       17        13.0    20
2  165.0       12         4.0    93
3  110.0       20         NaN    60
4  140.0        5         3.0    82
5  115.0        2         8.0    10

In [ ]:
#df.dropna(inplace=False)

In [ ]:
df.dropna(how='all')

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df=pd.read_csv('/content/car_raceing.csv')
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.dropna(thresh=4)

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df=pd.read_csv('/content/car_raceing.csv')
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.fillna(method='ffill',axis=0)

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         4.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.fillna(method='bfill',axis=0)

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         3.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/car_raceing.csv')

In [ ]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.replace(4.0,'NaN')

   speed  car_age experience  risk
0    200       15        5.0    85
1     90       17       13.0    20
2    165       12        NaN    93
3    110       20        NaN    60
4    140        5        3.0    82
5    115        2        8.0    10

In [ ]:
df.replace({'speed':110,'risk':10},'NaN')

  speed  car_age  experience risk
0   200       15         5.0   85
1    90       17        13.0   20
2   165       12         4.0   93
3   NaN       20         NaN   60
4   140        5         3.0   82
5   115        2         8.0  NaN

In [ ]:
df.replace({'speed':'[0-9]'},'NaN',regex=True)

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.replace(20,method='ffill')

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    85
2    165       12         4.0    93
3    110       12         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.interpolate()

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         3.5    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
pd.read_csv('/content/car_raceing.csv',)

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.interpolate(inplace=True)

In [ ]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         3.5    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df1=pd.DataFrame({"ID":[1,2,3,4,6],'Name':['A','B','C','D','E']})
df2=pd.DataFrame({"ID":[11,2,3,45,56],'Roll':[101,102,103,104,105]})

In [ ]:
df1

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E

In [ ]:
df2

   ID  Roll
0   1   101
1   2   102
2   3   103
3   4   104
4   5   105

In [ ]:
pd.merge(df1,df2,how='outer')

   ID Name   Roll
0   1    A  101.0
1   2    B  102.0
2   3    C  103.0
3   4    D  104.0
4   6    E    NaN
5   5  NaN  105.0

In [ ]:
pd.merge(df1,df2,how='left')

   ID Name   Roll
0   1    A  101.0
1   2    B  102.0
2   3    C  103.0
3   4    D  104.0
4   6    E    NaN

In [ ]:
pd.merge(df1,df2,how='right')

   ID Name  Roll
0   1    A   101
1   2    B   102
2   3    C   103
3   4    D   104
4   5  NaN   105

In [ ]:
pd.merge(df1,df2,how='outer',indicator=True)

   ID Name   Roll      _merge
0   1    A    NaN   left_only
1   2    B  102.0        both
2   3    C  103.0        both
3   4    D    NaN   left_only
4   6    E    NaN   left_only
5  11  NaN  101.0  right_only
6  45  NaN  104.0  right_only
7  56  NaN  105.0  right_only

In [ ]:
pd.concat([df1,df2],axis=1)

   ID Name  ID  Roll
0   1    A  11   101
1   2    B   2   102
2   3    C   3   103
3   4    D  45   104
4   6    E  56   105

In [ ]:
pd.concat([df1,df2],axis=0)

   ID Name   Roll
0   1    A    NaN
1   2    B    NaN
2   3    C    NaN
3   4    D    NaN
4   6    E    NaN
0  11  NaN  101.0
1   2  NaN  102.0
2   3  NaN  103.0
3  45  NaN  104.0
4  56  NaN  105.0

In [ ]:
pd.concat([df1,df2],axis=0,ignore_index=True)

   ID Name   Roll
0   1    A    NaN
1   2    B    NaN
2   3    C    NaN
3   4    D    NaN
4   6    E    NaN
5  11  NaN  101.0
6   2  NaN  102.0
7   3  NaN  103.0
8  45  NaN  104.0
9  56  NaN  105.0

In [ ]:
pd.concat([df1,df2],axis=0,keys=['df1','df2'])

       ID Name   Roll
df1 0   1    A    NaN
    1   2    B    NaN
    2   3    C    NaN
    3   4    D    NaN
    4   6    E    NaN
df2 0  11  NaN  101.0
    1   2  NaN  102.0
    2   3  NaN  103.0
    3  45  NaN  104.0
    4  56  NaN  105.0

In [ ]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         3.5    60
4    140        5         3.0    82
5    115        2         8.0    10

In [ ]:
df.pivot_table(index='speed')

       car_age  experience  risk
speed
90          17        13.0    20
110         20         3.5    60
115          2         8.0    10
140          5         3.0    82
165         12         4.0    93
200         15         5.0    85

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
df['name'].value_counts()

In [ ]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (1.2.0)

Datetime

In [ ]:
df=pd.read_csv("/content/covid-19.csv")
df.head()

,Timestamp,Name,Age,Sex,Profession,Name of Vaccine Center,District,Name of vaccine,congenital disorders,Cardiac disease,Tuberculosis,Fever,Gastroenteritis,Diarrhoea,Hypertension,Bleeding disorder,Respiratory distress,Thyroid,No side effect for first dose,Pain at injection site for first dose,Fever for first dose,Muscle pain for first dose,Generalized weakness for first dose,Headache for first dose,Allergic Reaction for first dose,Hypertension for first dose,No side effect for second dose,Pain at injection site for second dose,Fever for second dose,Muscle pain for second dose,Generalized weakness for second dose,Headache for second dose,Hypertension for second dose
0,11/3/2021 0:49,borun dey,65,1,business,Tala General Hospital,Satkhira,AstraZeneca,0,1,0,0,1,0,1.0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11/3/2021 20:22,lotif dauyan,58,1,Retired,kaliakoir Health Complex,Gazipur,Vero Cell,0,0,0,0,0,0,0.0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11/3/2021 20:24,shojol chondra dhor,36,1,Worker,kaliakoir Health Complex,Gazipur,Vero Cell,0,0,0,0,0,0,0.0,0,0.0,0,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,11/3/2021 20:28,sukumar mondol,62,1,Worker,kaliakoir Health Complex,Gazipur,Vero Cell,0,0,0,0,0,0,0.0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11/3/2021 20:32,bidhan mondor,60,1,Worker,kaliakoir Health Complex,Gazipur,Vero Cell,0,0,0,0,0,0,0.0,0,0.0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df['Timestamp']

0        11/3/2021 0:49
1       11/3/2021 20:22
2       11/3/2021 20:24
3       11/3/2021 20:28
4       11/3/2021 20:32
             ...
4048    6/25/2022 20:12
4049    6/25/2022 20:49
4050    6/25/2022 20:12
4051    6/25/2022 20:22
4052    6/25/2022 20:52
Name: Timestamp, Length: 4053, dtype: object

In [ ]:
df['Timestamp']=pd.to_datetime(df['Timestamp'],format='%m/%d/%Y %H:%M') 
df['Timestamp']

0      2021-11-03 00:49:00
1      2021-11-03 20:22:00
2      2021-11-03 20:24:00
3      2021-11-03 20:28:00
4      2021-11-03 20:32:00
               ...
4048   2022-06-25 20:12:00
4049   2022-06-25 20:49:00
4050   2022-06-25 20:12:00
4051   2022-06-25 20:22:00
4052   2022-06-25 20:52:00
Name: Timestamp, Length: 4053, dtype: datetime64[ns]

In [ ]:
df.loc[0,'Timestamp'].day_name()

'Wednesday'

In [ ]:
d_perser=lambda x:pd.datetime.strptime(x,'%m/%d/%Y %H:%M')
df=pd.read_csv('/content/covid-19.csv',parse_dates=["Timestamp"],date_parser=d_perser)
df

<ipython-input-26-3589d3865a34>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  d_perser=lambda x:pd.datetime.strptime(x,'%m/%d/%Y %H:%M')

TypeError: ignored

In [ ]:
df['Date'].dt.day_name() or df.loc[0,'Date'].day_name()